In [5]:
#1st query
#creating tuples
#tuple-1
tuple_1=(10,20,30)
print(tuple_1)
#tuple-2
tuple_2=(40,50,60)
print(tuple_2)

(10, 20, 30)
(40, 50, 60)

In [6]:
#a.concatenate 2 tuples & store in "t_combine"
t_combine=tuple_1+tuple_2
print(t_combine)

(10, 20, 30, 40, 50, 60)

In [7]:
#b.repeat the elements of "t_combine" 3 times
print(t_combine*3)

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [8]:
#c.access the 3rd element from "t_combine"
print(t_combine[2])

30

In [9]:
#d.access first three elements from "t_combine"
print(t_combine[:3])

(10, 20, 30)

In [11]:
#e.access last three elements from "t_combine"
print(t_combine[-3:])

(40, 50, 60)

In [13]:
#2.create list "my_list" 
my_list=[(1,2,3),("a","b","c"),(True,False)]
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [20]:
#3.append a new tuple to "my_list"
my_list.append((1,"a",True))
print(my_list)

None
[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), [(1, 'a', True)], (1, 'a', True)]

In [23]:
#a.append a new list- *"sparta",123+to my_list
my_list.append(["sparta",123])
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), [(1, 'a', True)], (1, 'a', True), ['sparta', 123]]

In [27]:
#4.create a dictionary 
fruit={
    "Fruit":("apple","banana","mango","guava"),
    "cost":(85,54,120,70)
    }
print(fruit)

{'Fruit': ('apple', 'banana', 'mango', 'guava'), 'cost': (85, 54, 120, 70)}

In [28]:
print(fruit.keys())

dict_keys(['Fruit', 'cost'])

In [30]:
print(fruit.values())

dict_values([('apple', 'banana', 'mango', 'guava'), (85, 54, 120, 70)])

In [31]:
#5.create a set
my_set={1,1,"a","a",True,True}
print(my_set)

{1, 'a'}